h1{
    background-color: rgb(11, 11, 47);
    color: white;
    font-size: 100px;
    text-align: center;
}

p{
  padding: 3px;
  margin-bottom: 100px;
  margin-left: 100px;
  margin-right: 100px;
}

code{
  background-color: rgb(182, 182, 182);
}

img{
    position: relative;
    top: 15px;
}

.circle {
    display: inline-block;
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 50%;
    border-color: black;
    border-style: solid;
    font-size: 30px;
    text-align: center;
  }

  .popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -90px;
    font-size: medium;
    padding: 10px;
    line-height: 110%;
  }

  /* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }

.layer{
    border-color: black;
    border-style: solid;
    border-width: 3px;
    display: inline-block;
    float: left;
    margin-left: 100px;
    padding: 3px;
}

.background{
  margin-top: 200px;
  margin-bottom: 200px;
}

.experience{
  margin-top: 100px;
  margin-bottom: 100px;
}
